@{
    ViewBag.Title = "Home";
}

<div id="home">
</div>

<div class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Content/img/Mobile_app.svg" />
            </div>
            <div class="col-sm-6 text-center align-self-center">
                <h2 class="pb-2">Let's Find a Mobile For You!</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id laboriosam magnam error expedita fugit. Repellendus magni, accusamus aspernatur fugit esse sequi corporis? Ad, enim est?
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos deserunt quisquam dolores sunt, fugit molestias suscipit accusantium sed, sequi architecto enim dignissimos voluptatum tenetur aperiam.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dolor vitae itaque rerum eligendi, deleniti quas error, mollitia aliquam quisquam facilis hic officiis eum voluptatum reprehenderit, autem praesentium nemo necessitatibus dolore magnam voluptates quibusdam rem. Autem placeat optio quo aliquam.
                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 d-flex justify-content-center align-content-center">
                <img src="~/Content/img/apple-brands.svg" class="img-fluid w-50"/>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dolor vitae itaque rerum eligendi, deleniti quas error, mollitia aliquam quisquam facilis hic officiis eum voluptatum reprehenderit, autem praesentium nemo necessitatibus dolore magnam voluptates quibusdam rem. Autem placeat optio quo aliquam.
                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 d-flex justify-content-center align-content-center">
                <img src="~/Content/img/samsung.svg" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

<div id="mobile-background">
</div>

<div class="p-5">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-sm-3 border border-dark rounded p-0 m-2 text-center">
                <img src="~/Content/img/brands.jpg" class="img-fluid rounded img-links"/>
                <h3>@Html.ActionLink("Brands", "Index", "Brands", null, new { @class = "text-decoration-none" })</h3>
                <p class="p-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies fringilla lacus nec sollicitudin. Pellentesque ullamcorper aliquam libero ac vehicula. Cras tempus aliquam tincidunt. Nam orci lorem, cursus eget laoreet.
                </p>
            </div>
            <div class="col-sm-3 border border-dark rounded p-0 m-2 text-center">
                <img src="~/Content/img/models.jpg" class="img-fluid rounded img-links" />
                <h3>@Html.ActionLink("Models", "Index", "MobileModels", null, new { @class = "text-decoration-none" })</h3>
                <p class="p-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies fringilla lacus nec sollicitudin. Pellentesque ullamcorper aliquam libero ac vehicula. Cras tempus aliquam tincidunt. Nam orci lorem, cursus eget laoreet.
                </p>
            </div>
            <div class="col-sm-3 border border-dark rounded p-0 m-2 text-center">
                <img src="~/Content/img/opsystems.jpg" class="img-fluid rounded img-links" />
                <h3>@Html.ActionLink("Operating Systems", "Index", "OPSystems", null, new { @class = "text-decoration-none" })</h3>
                <p class="p-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies fringilla lacus nec sollicitudin. Pellentesque ullamcorper aliquam libero ac vehicula. Cras tempus aliquam tincidunt. Nam orci lorem, cursus eget laoreet.
                </p>
            </div>
        </div>
    </div>
</div>
@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@